table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 5000px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:10-child(even) {background-color: #800080;}
